data/train/*
data/all-*
data/list.*
data/unicharset
dta19-reduced
dta19-reduced.tar.gz
*.built
tesseract-*
leptonica-*
*.BAK
/usr
data/checkpoints
9ae97508aed1e5508458f1181b08501f984bf4e2.zip
langdata-*
data/test/*
data/*.traineddata
wackenroder_herzensergiessungen_1797_0051_001.gt.txt
wackenroder_herzensergiessungen_1797_0051_001.tif
wackenroder_herzensergiessungen_1797_0084_012.box
wackenroder_herzensergiessungen_1797_0084_012.gt.txt
wackenroder_herzensergiessungen_1797_0084_012.tif
wackenroder_herzensergiessungen_1797_0147_006.gt.txt
wackenroder_herzensergiessungen_1797_0147_006.tif
wackenroder_herzensergiessungen_1797_0156_016.gt.txt
wackenroder_herzensergiessungen_1797_0156_016.tif
wackenroder_herzensergiessungen_1797_0189_014.gt.txt
wackenroder_herzensergiessungen_1797_0189_014.tif
wackenroder_herzensergiessungen_1797_0204_018.gt.txt
wackenroder_herzensergiessungen_1797_0204_018.tif
wackenroder_herzensergiessungen_1797_0215_011.gt.txt
wackenroder_herzensergiessungen_1797_0215_011.tif
wackenroder_herzensergiessungen_1797_0225_010.gt.txt
wackenroder_herzensergiessungen_1797_0225_010.tif
wackenroder_herzensergiessungen_1797_0248_013.gt.txt
wackenroder_herzensergiessungen_1797_0248_013.tif
master.zip
