data/*ground-truth/*
data/langdata/*
!data/ground-truth/.gitkeep
data/*.traineddata
data/*/checkpoints
data/*/reports
data/*/tessdata*
data/*/tmp
data/*ground-truth/*
data/all-*
data/list.*
data/test/*
dta19-reduced
dta19-reduced.tar.gz
*.built
*.BAK
/usr
data/checkpoints
9ae97508aed1e5508458f1181b08501f984bf4e2.zip
langdata-*
main.zip
master.zip
wackenroder_herzensergiessungen_*.gt.txt
wackenroder_herzensergiessungen_*.tif
# ignore temporary training data
*checkpoints*
