[MASTER]
extension-pkg-whitelist=lxml
ignored-modules=cv2,tesserocr

[MESSAGES CONTROL]
disable =
    missing-docstring,
    no-self-use,
    too-many-arguments,
    superfluous-parens,
    invalid-name,
    line-too-long,
    too-few-public-methods,
